@page "/admin"
<PageTitle>Admin</PageTitle>

<h1>Admin</h1>


@if (true)
{
    <p><em>Loading...</em></p>
}
else
{
   
}

@code {
    [Inject]
    protected MonumentApiClient MonumentClient { get; set; }


    protected override async Task OnInitializedAsync()
    {
        

    }

}
