@page "/page/{pageName}"
@using monument.ui.Components

<PageTitle>@PageName</PageTitle>

<h1>@PageName</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (_page == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <MarkdownSection Content="@_page.Markdown" />
}

@code {


    [Parameter]
    public string PageName { get; set; }

    [Inject]
    protected MonumentApiClient MonumentClient { get; set; }

    private monument.api.client.Models.Page _page { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _page = await MonumentClient.GetPageAsync(PageName);
    }

}
